nl_after_semicolon = True
nl_after_vbrace_open = True
sp_before_sparen = Add
sp_assign = Add
sp_arith = Add
mod_paren_on_return = Remove
sp_compare = Add
sp_paren_paren = Remove
sp_sparen_brace = Force
sp_paren_brace = Force
sp_after_byref = Remove
sp_after_ptr_star = Remove
sp_after_comma = Add
sp_else_brace = Force
sp_brace_else = Force
nl_after_brace_open = True
nl_if_brace = Remove
nl_elseif_brace = Remove
nl_else_if = Remove
nl_else_brace = Remove
nl_brace_finally = Remove
nl_brace_else = Remove
sp_before_semi_for = Force
sp_before_semi_for_empty = Remove
nl_while_brace = Remove
nl_for_brace = Remove
nl_catch_brace = Remove
nl_do_brace = Remove
nl_brace_while = Remove
nl_switch_brace = Remove
nl_class_brace = Remove
nl_fdef_brace = Add
mod_remove_extra_semicolon = True
nl_after_case = True
nl_after_label_colon = True

